/* STANDARDS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  width: 90%;
  max-width: 1440px;
  margin: 50px auto;
}
p {
  margin-bottom: 0.25rem;
}
ul {
  padding: 0;
  margin-bottom: 0;
}
li {
  list-style: none;
  display: inline-block;
}
a,
a:visited {
  text-decoration: none;
  text-align: center;
}

/* SEARCH BAR */
/* search bar input */
.search-bar,
.search-bar-btn {
  background-color: #e7e7e7;
}
.search-bar {
  border-right-color: transparent;
}
.search-bar:focus {
  border-color: #ced4da;
  box-shadow: none;
}

/* search bar button */
.search-bar-btn {
  padding: 0;
  border-radius: 0 0.25rem 0.25rem 0;
  border-left-color: transparent;
}
.search-bar-btn:hover,
.search-bar-btn:focus {
  background-color: #68d9a4;
  border-color: #68d9a4;
}
.fa-search {
  font-size: 24px;
}
.fa-search:hover,
.fa-search:focus {
  color: white;
}

/* search dropdown list : exemple noms recettes */
#search-list {
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  max-height: 15.8rem;
  padding: 0.25rem 1rem;
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: white;
  z-index: 1;
  display: none;
}
#search-list::-webkit-scrollbar {
  width: 1px;
  height: 15.8rem;
  color: #212529;
}
#search-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
}
.recipe-name {
  width: 100%;
  border-bottom: 1px solid #ced4da;
}
.name {
  color: #212529;
  opacity: 50%;
}
.name:hover,
.name:focus,
.name:active {
  cursor: pointer;
  color: #212529;
  opacity: 100%;
}

/* NAVIGATION STYLES */
/* navigation section */
/* .container {
  max-width: 1345px;
} */
.input-group {
  width: 70%;
  margin: auto;
}
.tags-group {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

/* tags buttons */
.tag-btn {
  border-color: transparent;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 8.25rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  color: white;
  font-weight: 600;
}
#ingredients-btn {
  background-color: #3282f7;
}
#appliance-btn {
  background-color: #68d9a4;
  margin: 0 20px;
}
#ustensils-btn {
  background-color: #ed6454;
}

/* tags boxes */
.tag-box.open .tags-list {
  display: flex;
}
.tag-box.open .tag-btn {
  border-radius: 0.25rem 0.25rem 0 0;
}

/* tags arrows */
.tag-arrow {
  margin-top: 3px;
  transition: all 0.5s;
}
.tag-box.open .tag-arrow {
  transform: rotateX(180deg);
}

/* tags search bars */
.search-tag {
  width: 20rem;
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
}
.search-tag::placeholder {
  color: white;
  opacity: 65%;
}
.search-tag:focus {
  color: white;
}

/* tags list wrapper */
.tags-list {
  position: absolute;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40rem;
  max-height: 15.8rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0 0 0.25rem 0.25rem;
  z-index: 1;
  display: none;
}
.tag {
  width: 30%;
}
.tag-link {
  color: white;
  cursor: pointer;
}
.tag-link:hover,
.tag-link:focus,
.tag-link:active {
  color: white;
  opacity: 65%;
}

/* ingredients dropdown list*/
#ingredients-list {
  background-color: #3282f7;
}

/* appliances dropdown list */
#appliances-list {
  background-color: #68d9a4;
  margin: 0 20px;
}

/* ustensils dropdown list */
#ustensils-list {
  background-color: #ed6454;
}

/* dropdown list scrollbars */
.scroll::-webkit-scrollbar {
  width: 5px;
  height: 15.8rem;
  border-radius: 0 0 1rem 0;
}
#ingredients-list::-webkit-scrollbar {
  background-color: #3282f7;
}
#appliances-list::-webkit-scrollbar {
  background-color: #68d9a4;
}
#ustensils-list::-webkit-scrollbar {
  background-color: #ed6454;
}
.scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

/* card styles */
#recipes {
  column-count: 3;
  column-gap: 1rem;
}
.card {
  width: 100%;
  margin: 0.5rem;
  display: inline-block;
}
.card-body {
  background: #e7e7e7;
}
.card-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5rem 0;
}
.card-title {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-subtitle {
  display: inline-flex;
  align-items: center;
}
.fa-clock {
  margin-right: 0.5rem;
}
.card-content {
  display: inline-flex;
  width: 100%;
  margin-top: 0.5rem;
}
.card-list {
  padding-right: 0.5rem;
  display: grid;
  width: 50%;
  height: fit-content;
}
.subcontent-text {
  width: 50%;
  height: fit-content;
  text-align: justify;
}
