/* STANDARDS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
  width: 90%;
  max-width: 1440px;
  margin: 50px auto;
}
ul {
  padding: 0;
  margin-bottom: 0;
}
li {
  list-style: none;
  display: inline-block;
}
a,
a:visited {
  text-decoration: none;
  text-align: center;
}

/* SEARCH BAR */
/* search bar input */
.search-bar,
.search-bar-btn {
  background-color: #e7e7e7;
}
.search-bar {
  border-right-color: transparent;
}
.search-bar:focus {
  border-color: #ced4da;
  box-shadow: none;
}

/* search bar button */
.search-bar-btn {
  padding: 0;
  border-radius: 0 0.25rem 0.25rem 0;
  border-left-color: transparent;
}
.search-bar-btn:hover,
.search-bar-btn:focus {
  background-color: #68d9a4;
  border-color: #68d9a4;
}
.fa-search {
  font-size: 24px;
}
.fa-search:hover,
.fa-search:focus {
  color: white;
}

/* NAVIGATION STYLES */
/* navigation section */
/* .container {
  max-width: 1345px;
} */
.input-group {
  width: 70%;
  margin: auto;
}
.search-group {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

/* filters buttons */
.search-nav-btn {
  border-color: transparent;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 8.25rem;
  padding: 0.75rem;
  border-radius: 0.25rem;
  color: white;
  font-weight: 600;
}
#ingredients-btn {
  background-color: #3282f7;
}
#appliance-btn {
  background-color: #68d9a4;
  margin: 0 20px;
}
#ustensils-btn {
  background-color: #ed6454;
}

/* search boxes */
.search-box.open .search-options {
  display: flex;
}
.search-box.open .search-nav-btn {
  border-radius: 0.25rem 0.25rem 0 0;
}

/* filters arrows */
.search-arrow {
  margin-top: 3px;
  transition: all 0.5s;
}
.search-box.open .search-arrow {
  transform: rotateX(180deg);
}

/* filters serach bars */
.search-item {
  display: none;
  border: none;
  background-color: transparent;
  width: 20rem;
}
.search-item::placeholder {
  color: white;
  opacity: 65%;
}
/* SUPPRIMER CONTOUR INPUT */
.search-item::placeholder:active,
.search-item::placeholder:focus {
  border: none;
  outline: none;
}

/* filters options */
.search-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40rem;
  max-height: 15.1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0 0 0.25rem 0.25rem;
  z-index: 1;
  display: none;
}
.options-list {
  color: white;
  width: 30%;
}
.option-link {
  color: white;
  cursor: pointer;
}
.option-link:hover,
.option-link:focus,
.option-link:active {
  color: white;
  opacity: 65%;
}

/* ingredients dropdown list*/
#ingredients-list {
  background-color: #3282f7;
  position: absolute;
  overflow: auto;
}

/* appliances dropdown list */
#appliances-list {
  background-color: #68d9a4;
  margin: 0 20px;
  position: absolute;
  overflow: auto;
}

/* ustensils dropdown list */
#ustensils-list {
  background-color: #ed6454;
  position: absolute;
  overflow: auto;
}

/* dropdown list scrollbars */
#ingredients-list::-webkit-scrollbar {
  width: 5px;
  height: 15.8rem;
  background-color: #3282f7;
  border-radius: 0 0 1rem 0;
}
/* #appliances-list::-webkit-scrollbar {
  width: 5px;
  height: 15.8rem;
  background-color: #68d9a4;
  border-radius: 0 0 1rem 0;
}
#ustensils-list::-webkit-scrollbar {
  width: 5px;
  height: 15.8rem;
  background-color: #ed6454;
  border-radius: 0 0 1rem 0;
} */
#ingredients-list::-webkit-scrollbar-thumb,
#appliances-list::-webkit-scrollbar-thumb,
#ustensils-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
}

/* card styles */
#recipes {
  column-count: 3;
  column-gap: 1rem;
}
.card {
  width: 100%;
  margin: 0.5rem;
  display: inline-block;
}
.card-body {
  background: #e7e7e7;
}
.card-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5rem 0;
}
.card-title {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-subtitle {
  display: inline-flex;
  align-items: center;
}
.fa-clock {
  margin-right: 5px;
}
.card-content {
  display: inline-flex;
  width: 100%;
}
.card-subcontent {
  width: 50%;
}
.card-list {
  padding-right: 5px;
  display: grid;
  height: fit-content;
}
.card-text {
  height: fit-content;
}
